{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amelk - اجاره ملک</title>
    <!-- css address -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"> <!-- For the Header and the Footer menu -->
    <link rel="stylesheet" href="{% static 'assets/css/request_for_suggestionII.css' %}"><!-- For the امکانات and تعداد اتاق خواب -->

    <link rel="stylesheet" href="{% static 'assets/css/renting_landIV.css' %}">

    <!-- Responsive -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}"><!-- For the header and footer -->
    <link rel="stylesheet" href="{% static 'assets/css/renting_landIV_responsive.css' %}"><!-- For the webpage -->



    <!-- FontAwsome address -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

    <!-- Header -->
    <header class="header container">

        <!-- menu -->
        <div class="header__right">
            <input type="checkbox" id="header__right_menuInput">

            <!-- menu opener -->
            <label for="header__right_menuInput"><i class="fa-solid fa-bars header__right_menuOpener"></i></label>

            <!-- Menu, There need top be a JS, So that when the menu appears there's a black filter over the site -->
            <ul class="header__right_menu">
                <a href="#" class="header__right_menu_options">
                    <li class="header__menu_options_box">
                        <span>خانه</span>
                    </li>
                </a>

                <a href="#" class="header__right_menu_options">
                    <li class="header__menu_options_box">
                        <span>اجاره</span>
                    </li>
                </a>

                <a href="#" class="header__right_menu_options">
                    <li class="header__menu_options_box">
                        <span>خرید </span>
                    </li>
                </a>

                <a href="#" class="header__right_menu_options">
                    <li class="header__menu_options_box">
                        <span>فروش</span>
                    </li>
                </a>

                <a href="#" class="header__right_menu_options">
                    <li class="header__menu_options_box header__menu_options_box--no_border">
                        <span>رهن</span>
                    </li>
                </a>
            </ul>
        </div>

        <!-- Amelk Logo -->
        <div class="header__site_logo">
            <span>Amelk</span>
            <img src="{% static 'assets/img/amelk_logo.png' %}" alt="Amelk Logo" class="header__logo_img">
        </div>

        <!-- user account -->
        <div class="header__user">
            <input type="checkbox" id="user" class="header__user_input">

            <label for="user" class="header__user_opener"><i class="fa-solid fa-user"></i></label>

            <!-- Menu, There need top be a JS, So that when the menu appears there's a black filter over the site -->
            <ul class="header__user_menu">
                <!-- 1st -->
                <a href="#" class="header__user_menu_options">
                    <li class="header__user_optionBox"><span>ورود</span></li>
                </a>

                <!-- 2nd -->
                <a href="#" class="header__user_menu_options">
                    <li class="header__user_optionBox"><span>نشان ها </span></li>
                </a>

                <!-- 3rd -->
                <a href="#" class="header__user_menu_options">
                    <li class="header__user_optionBox header__user_optionBox--border_none"><span>بازدیدهای اخیر </span>
                    </li>
                </a>
            </ul>
        </div>

    </header>

    <!-- Introduction to the Page -->
    <section class="renting_page container">
        <!-- The Default Headline -->
        <i class="renting_page_icon fa-solid fa-chevron-right"></i>

        <span class="renting_page_headline headline">اجاره یک ملک</span>

        <!-- In JS, On of these headline must Appear when one of the Buttons is Clicked, And the Gap between the Icon and the Headline must become 20px -->
        <!-- The Headline shown when میخام ملک اجاره کنم is clicked on -->
        <span class="renting_page_headline renting_page_headline--hidden headline">ملک برای اجاره دارم</span>

        <!-- The Headline shown when ملک برای  اجاره دارم is clicked on -->
        <span class="renting_page_headline renting_page_headline--hidden headline">میخام ملک اجاره کنم</span>

    </section>

    <!-- The Buttons, On JS, Both of them must disappear when one of them is clicked on. -->
    <section class="wants container">
        <!-- Button 1 -->
        <button class="wants__pay_for_rent">میخام ملک اجاره کنم</button>

        <!-- Button 2 -->
        <button class="wants__can_rent">ملک برای اجاره دارم </button>

    </section>

    <!-- The Page shown when میخام ملک اجاره کنم is clicked on -->
    <div class="pay_rent_holder">
        <section class="pay_rent">

            <!-- Personal Info -->
            <div class="pay_rent__user_info">

                <!-- Name -->
                <div class="pay_rent__user_info_form">
                    <label for="" class="pay_rent__user_info_formText">نام و نام خانوادگی</label>
                    <input type="text" class="pay_rent__user_info_name">
                </div>

                <!-- Phone -->
                <div class="pay_rent__user_info_form">
                    <label for="" class="pay_rent__user_info_formText">شماره تماس</label>
                    <input type="tel" class="pay_rent__user_info_phone">
                </div>

                <!-- City -->
                <div class="pay_rent__user_info_form">
                    <label for="" class="pay_rent__user_info_formText">شهر/محله</label>
                    <input type="text" class="pay_rent__user_info_city">
                </div>

            </div>

            <!-- The area, Rent -->
            <div class="pay_rent__area_rent">

                <!-- The Area -->
                <div class="pay_rent__area">

                    <!-- Headline -->
                    <span class="pay_rent__area_headline headline">متراژ</span>
                
                    <!-- Minimal And Maximum -->
                    <div class="pay_rent__area_miniMax">
                            
                        <!-- Minimal -->
                        <div class="pay_rent__area_minForm_complete">
                            <span class="pay_rent__area_minForm_textI">حداقل متراژ</span>
                            <div class="pay_rent__min_form_holder">
                                <span class="pay_rent__min_form_text">از</span>
                                <input type="number" class="pay_rent__min_form">
                            </div>
                        </div>
                        
                        <!-- Maximum -->
                        <div class="pay_rent__area_maxForm_complete">   
                            <span class="pay_rent__area_minForm_textI">حداکثر متراژ</span>
                           
                            <div class="pay_rent__max_form_holder">
                                <span class="pay_rent__max_form_text">تا</span>
                                <input type="number" class="pay_rent__max_form">
                            </div>
                        </div>
                            
                    </div>
                
                </div>

                <!-- Rent -->
                <div class="pay_rent__area">

                    <!-- Headline -->
                    <span class="pay_rent__area_headline headline">اجاره بها</span>
                
                    <!-- Minimal And Maximum -->
                    <div class="pay_rent__area_miniMax">
                            
                        <!-- Minimal -->
                        <div class="pay_rent__area_minForm_complete">
                            <span class="pay_rent__area_minForm_textI">حداکثر پول پیش</span>
                            <div class="pay_rent__min_form_holder">
                                <span class="pay_rent__min_form_text">از</span>
                                <input type="number" class="pay_rent__min_form">
                            </div>
                        </div>
                        
                        <!-- Maximum -->
                        <div class="pay_rent__area_maxForm_complete">   
                            <span class="pay_rent__area_minForm_textI">حداکثر اجاره</span>
                           
                            <div class="pay_rent__max_form_holder">
                                <span class="pay_rent__max_form_text">تا</span>
                                <input type="number" class="pay_rent__max_form">
                            </div>
                        </div>
                            
                    </div>
                
                </div>

            </div>
            
            <!-- People and Rooms -->
            <div class="pay_rent__people_rooms">
                <!-- The Number of People -->
                <div class="pay_rent__people">

                    <!-- Headline -->
                    <span class="pay_rent__people__headline">تعداد افراد خانواده</span>

                    <!-- The number of possible people -->
                    <div class="pay_rent__people_number">
                        <!-- The More Box -->
                        <div class="pay_rent__people_number_more">
                            <div class="pay_rent__people_moreIcon_holder">
                                <i class="pay_rent__people_moreIcon fa-solid fa-angle-down"></i>
                            </div>
                            <span class="pay_rent__people_number_moreText">بیشتر</span>
                        </div>

                        <!-- 4th -->
                        <div class="pay_rent__people_number_box">
                            <span>4</span>
                        </div>

                        <!-- 3rd -->
                        <div class="pay_rent__people_number_box">
                            <span>3</span>
                        </div>

                        <!-- 2nd -->
                        <div class="pay_rent__people_number_box">
                            <span>2</span>
                        </div>

                        <!-- 1st -->
                        <div class="pay_rent__people_number_box">
                            <span>1</span>
                        </div>
                    </div>
                </div>

                <!-- Number of Rooms -->
                <section class="rooms">

                    <!-- Headline -->
                    <span class="rooms__headline headline">تعداد اتاق خواب</span>

                    <!-- Rooms -->
                    <div class="rooms__numbers">

                        <a href="#">
                            <div class="rooms__more">
                                <div class="rooms__more_icon_box">
                                    <i class="rooms__more_icon fa-solid fa-angle-down"></i>
                                </div>
                                <span>بیشتر</span>
                            </div>
                        </a>

                        <a href="#">
                            <div class="rooms__numbers_boxes">
                                <span>4</span>
                            </div>
                        </a>

                        <a href="#">
                            <div class="rooms__numbers_boxes">
                                <span>3</span>
                            </div>
                        </a>

                        <a href="#">
                            <div class="rooms__numbers_boxes">
                                <span>2</span>
                            </div>
                        </a>

                        <a href="#">
                            <div class="rooms__numbers_boxes">
                                <span>1</span>
                            </div>
                        </a>

                    </div>
                </section>
            </div>

            <!-- The Button -->
            <div class="pay_rent__buttons">
                <div class="pay_rent__button">ارسال</div>

                <div class="pay_rent__button">جستجوی ملک</div>
            </div>

        </section>
    </div>

    <!-- The Page shown when ملک برای  اجاره دارم is clicked on -->
    <div class="renting_holder">
        <section class="renting">

            <!-- Location -->
            <div class="renting__location">

                <!-- Headline -->
                <span class="renting__location_headline">موقعیت ملک شما</span>

                <!-- The Examples -->
                <div class="renting__locations">

                    <input id="locations" type="checkbox" class="renting__locations_input">
                    <!-- Opener -->
                    <label for="locations" class="renting__locations_opener">
                        <span>نوع ملک</span>

                        <i class="renting__locations_opener_icon fa-solid fa-angle-down"></i>
                    </label>

                    <!-- The Building Types -->
                    <div class="renting__locations_box">
                        <button class="renting__locations_box_examples"><span>ویلا</span></button>

                        <button class="renting__locations_box_examples"><span>آپارتمان</span></button>

                        <button class="renting__locations_box_examples renting__locations_box_examples--no_border"><span>تجاری </span></button>
                    </div>
                </div>
            </div>

            <!-- The Forms -->
            <div class="renting__forms">

                <!-- 1st -->
                <div class="renting__form_holder">
                    <span class="renting__form_headline">متراژ</span>
                    <input type="text" class="renting__form">
                </div>

                <!-- 2nd -->
                <div class="renting__form_holder">
                    <span class="renting__form_headline">پول پیش</span>
                    <input type="number" class="renting__form">
                </div>

                <!-- 3rd -->
                <div class="renting__form_holder">
                    <span class="renting__form_headline">مبلغ اجاره </span>
                    <input type="number" class="renting__form">
                </div>

                <!-- 4th -->
                <div class="renting__form_holder">
                    <span class="renting__form_headline">حق</span>
                    <input type="number" class="renting__form">
                </div>

            </div>

            <!-- Copied and Adjusted from request_for_suggestionII.html -->
            <div class="for_desktop">
                <!-- facilities -->
                <section class="facilities">

                    <!-- headline -->
                    <span class="facilities__headline headline">امکانات</span>

                    <!-- facility Examples -->
                    <div class="facilities__examples">

                        <!-- elevator -->
                        <div class="facilities__boxesI facilities__boxes ">
                            <i class="facilities__boxes_icons fa-solid fa-building"></i>
                            <span>آسانسور</span>
                        </div>


                        <div class="facilities__boxesII facilities__boxes ">
                            <i class="facilities__boxes_icons fa-solid fa-building"></i>
                            <span>پارکینگ</span>
                        </div>

                        <div class="facilities__boxesIII facilities__boxes ">
                            <i class="facilities__boxes_icons fa-solid fa-house-chimney-window"></i>
                            <span>انباری \ بالکن</span>
                        </div>

                    </div>
                </section>

                <!-- Number of Rooms -->
                <section class="rooms">

                    <!-- Headline -->
                    <span class="rooms__headline headline">تعداد اتاق خواب</span>

                    <!-- Rooms -->
                    <div class="rooms__numbers">

                        <a href="#">
                            <div class="rooms__more">
                                <div class="rooms__more_icon_box">
                                    <i class="rooms__more_icon fa-solid fa-angle-down"></i>
                                </div>
                                <span>بیشتر</span>
                            </div>
                        </a>

                        <a href="#">
                            <div class="rooms__numbers_boxes">
                                <span>4</span>
                            </div>
                        </a>

                        <a href="#">
                            <div class="rooms__numbers_boxes">
                                <span>3</span>
                            </div>
                        </a>

                        <a href="#">
                            <div class="rooms__numbers_boxes">
                                <span>2</span>
                            </div>
                        </a>

                        <a href="#">
                            <div class="rooms__numbers_boxes">
                                <span>1</span>
                            </div>
                        </a>

                    </div>
                </section>

            </div>

            <!-- The Button -->
            <div class="renting__button">ارسال</div>

        </section>
    </div>


    <!-- For distancing the menu from the rest of the webpage -->
    <div class="distance"></div>

    <!-- Menu -->
    <ul class="footer__menu">
        <!-- 1st -->
        <a href="#">
            <li class="options">
                <img src="{% static 'assets/img/footer_menu/moeny_bagI.png' %}" alt="" class="options_img">
            </li>
        </a>

        <!-- 2nd -->
        <a href="#">
            <li class="options">
                <img src="{% static 'assets/img/footer_menu/cardII.png' %}" alt="" class="options_img">
            </li>
        </a>

        <!-- 3rd -->
        <a href="#">
            <li class="options option--big">
                <img src="{% static 'assets/img/footer_menu/icon.png' %}" alt="" class="options_img options_img_dot">
            </li>
        </a>

        <!-- 4th -->
        <a href="#">
            <li class="options">
                <img src="{% static 'assets/img/footer_menu/buldingIV.png' %}" alt="" class="options_img">
            </li>
        </a>

        <!-- 5th -->
        <a href="#">
            <li class="options">
                <img src="{% static 'assets/img/footer_menu/money_lendV.png' %}" alt="" class="options_img">
            </li>
        </a>
    </ul>

    <!-- All the Land -->
    <section class="lands">

        <!-- Land 1 -->
        <div class="lands__landI">

            <!-- Image of Land (Mobile)-->
            <div class="lands__land_img_div">
                <img src="{% static 'assets/img/land/small_landI.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Image of Land (Desktop)-->
            <div class="lands__land_img_div lands__land_img_div--hidden">
                <img src="{% static 'assets/img/land/landI.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Details About the Land -->
            <div class="lands__landI_details">

                <!-- The Price and Type of Land -->
                <div class="lands__landI_price_type">
                    <!-- Disappear on Desktop -->
                    <span class="lands__landI_type">آپارتمان</span>

                    <span class="lands__landI_price">$267000</span>
                </div>

                <!-- Address -->
                <div class="lands__landI_address_more">
                    <!-- address -->
                    <div class="lands__landI_address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="lands__landI_address_text">آدرس خیابان دانشگاه</span>
                    </div>

                    <!-- more (Appears on Desktop) -->
                    <a href="#">
                        <div class="lands__landI_more">
                            <span>مشاهده جزئیات</span>
                        </div>
                    </a>
                </div>

                <!-- Icons -->
                <div class="lands__landI_icons">
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-bed"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-fill-drip"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-file-lines"></i></div>
                </div>

            </div>

        </div>

        <!-- Land 2 -->
        <div class="lands__landI">

            <!-- Image of Land (Mobile)-->
            <div class="lands__land_img_div">
                <img src="{% static 'assets/img/land/small_landII.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Image of Land (Desktop)-->
            <div class="lands__land_img_div lands__land_img_div--hidden">
                <img src="{% static 'assets/img/land/landII.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Details About the Land -->
            <div class="lands__landI_details">

                <!-- The Price and Type of Land -->
                <div class="lands__landI_price_type">
                    <!-- Disappear on Desktop -->
                    <span class="lands__landI_type">آپارتمان</span>

                    <span class="lands__landI_price">$267000</span>
                </div>

                <!-- Address -->
                <div class="lands__landI_address_more">
                    <!-- address -->
                    <div class="lands__landI_address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="lands__landI_address_text">آدرس خیابان دانشگاه</span>
                    </div>

                    <!-- more (Appears on Desktop) -->
                    <a href="#">
                        <div class="lands__landI_more">
                            <span>مشاهده جزئیات</span>
                        </div>
                    </a>
                </div>

                <!-- Icons -->
                <div class="lands__landI_icons">
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-bed"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-fill-drip"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-file-lines"></i></div>
                </div>

            </div>

        </div>

        <!-- Land 3 -->
        <div class="lands__landI">

            <!-- Image of Land (Mobile)-->
            <div class="lands__land_img_div">
                <img src="{% static 'assets/img/land/small_landIII.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Image of Land (Desktop)-->
            <div class="lands__land_img_div lands__land_img_div--hidden">
                <img src="{% static 'assets/img/land/landIII.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Details About the Land -->
            <div class="lands__landI_details">

                <!-- The Price and Type of Land -->
                <div class="lands__landI_price_type">
                    <!-- Disappear on Desktop -->
                    <span class="lands__landI_type">آپارتمان</span>

                    <span class="lands__landI_price">$267000</span>
                </div>

                <!-- Address -->
                <div class="lands__landI_address_more">
                    <!-- address -->
                    <div class="lands__landI_address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="lands__landI_address_text">آدرس خیابان دانشگاه</span>
                    </div>

                    <!-- more (Appears on Desktop) -->
                    <a href="#">
                        <div class="lands__landI_more">
                            <span>مشاهده جزئیات</span>
                        </div>
                    </a>
                </div>

                <!-- Icons -->
                <div class="lands__landI_icons">
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-bed"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-fill-drip"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-file-lines"></i></div>
                </div>

            </div>

        </div>

        <!-- Land 4 -->
        <div class="lands__landI">

            <!-- Image of Land (Mobile)-->
            <div class="lands__land_img_div">
                <img src="{% static 'assets/img/land/small_landIV.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Image of Land (Desktop)-->
            <div class="lands__land_img_div lands__land_img_div--hidden">
                <img src="{% static 'assets/img/land/landIV.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Details About the Land -->
            <div class="lands__landI_details">

                <!-- The Price and Type of Land -->
                <div class="lands__landI_price_type">
                    <!-- Disappear on Desktop -->
                    <span class="lands__landI_type">آپارتمان</span>

                    <span class="lands__landI_price">$267000</span>
                </div>

                <!-- Address -->
                <div class="lands__landI_address_more">
                    <!-- address -->
                    <div class="lands__landI_address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="lands__landI_address_text">آدرس خیابان دانشگاه</span>
                    </div>

                    <!-- more (Appears on Desktop) -->
                    <a href="#">
                        <div class="lands__landI_more">
                            <span>مشاهده جزئیات</span>
                        </div>
                    </a>
                </div>

                <!-- Icons -->
                <div class="lands__landI_icons">
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-bed"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-fill-drip"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-file-lines"></i></div>
                </div>

            </div>

        </div>

        <!-- Land 5 -->
        <div class="lands__landI">

            <!-- Image of Land (Mobile)-->
            <div class="lands__land_img_div">
                <img src="{% static 'assets/img/land/small_landV.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Image of Land (Desktop)-->
            <div class="lands__land_img_div lands__land_img_div--hidden">
                <img src="{% static 'assets/img/land/landV.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Details About the Land -->
            <div class="lands__landI_details">

                <!-- The Price and Type of Land -->
                <div class="lands__landI_price_type">
                    <!-- Disappear on Desktop -->
                    <span class="lands__landI_type">آپارتمان</span>

                    <span class="lands__landI_price">$267000</span>
                </div>

                <!-- Address -->
                <div class="lands__landI_address_more">
                    <!-- address -->
                    <div class="lands__landI_address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="lands__landI_address_text">آدرس خیابان دانشگاه</span>
                    </div>

                    <!-- more (Appears on Desktop) -->
                    <a href="#">
                        <div class="lands__landI_more">
                            <span>مشاهده جزئیات</span>
                        </div>
                    </a>
                </div>

                <!-- Icons -->
                <div class="lands__landI_icons">
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-bed"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-fill-drip"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-file-lines"></i></div>
                </div>

            </div>

        </div>

        <!-- Land 6 (Appears on Desktop) -->
        <div class="lands__landI lands__landI--hidden">

            <!-- Image of Land (Mobile)-->
            <div class="lands__land_img_div">
                <img src="{% static 'assets/img/land/landVI.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Image of Land (Desktop)-->
            <div class="lands__land_img_div lands__land_img_div--hidden">
                <img src="{% static 'assets/img/land/landVI.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Details About the Land -->
            <div class="lands__landI_details">

                <!-- The Price and Type of Land -->
                <div class="lands__landI_price_type">
                    <!-- Disappear on Desktop -->
                    <span class="lands__landI_type">آپارتمان</span>

                    <span class="lands__landI_price">$267000</span>
                </div>

                <!-- Address -->
                <div class="lands__landI_address_more">
                    <!-- address -->
                    <div class="lands__landI_address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="lands__landI_address_text">آدرس خیابان دانشگاه</span>
                    </div>

                    <!-- more (Appears on Desktop) -->
                    <a href="#">
                        <div class="lands__landI_more">
                            <span>مشاهده جزئیات</span>
                        </div>
                    </a>
                </div>

                <!-- Icons -->
                <div class="lands__landI_icons">
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-bed"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-fill-drip"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-file-lines"></i></div>
                </div>

            </div>

        </div>

    </section>

    <div class="distance">

    </div>

    <section class="under_footer">

        <!-- Top -->
        <div class="under_footer__top">
            <!-- Right -->
            <div class="under_footer__top_right">
                
                <a href="#" class="under_footer__top_right_links"><span>Rent</span></a>
                
                <a href="#" class="under_footer__top_right_links"><span>Sell</span></a>
                
                <a href="#" class="under_footer__top_right_links"><span>Services</span></a>
                
                <a href="#" class="under_footer__top_right_links"><span>Home</span></a>

            </div>

            <!-- Left -->
            <div class="under_footer__top_left">
                <span>myProperty</span>
                <i class="under_footer__top_leftIcon fa-solid fa-magnifying-glass-location"></i>
            </div>
        </div>

        <!-- Bottom -->
        <div class="under_footer__bottom">
            <span>Copyright 2023 - Kodkustik All Right Reserved.</span>
        </div>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"></script>
</body>

</html>