{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amelk - مشاوره</title>
    <!-- css address -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"> <!-- For the Header and the Footer menu -->

    <link rel="stylesheet" href="{% static 'assets/css/request_for_suggestionII.css' %}">

    <!-- Responsive -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}"><!-- For the header and footer -->
    <link rel="stylesheet" href="{% static 'assets/css/request_for_suggestionII_responsive.css' %}"><!-- For the webpage -->
    


    <!-- FontAwsome address -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

    <!-- Header -->
    <header class="header container">

        <!-- menu -->
        <div class="header__right">
            <input type="checkbox" id="header__right_menuInput">

            <!-- menu opener -->
            <label for="header__right_menuInput"><i class="fa-solid fa-bars header__right_menuOpener"></i></label> 

            <!-- Menu, There need top be a JS, So that when the menu appears there's a black filter over the site -->
            <ul class="header__right_menu">
                <a href="#" class="header__right_menu_options">
                    <li class="header__menu_options_box">
                        <span>خانه</span>
                    </li>
                </a>

                <a href="#" class="header__right_menu_options">
                    <li class="header__menu_options_box">
                        <span>اجاره</span>
                    </li>
                </a>

                <a href="#" class="header__right_menu_options">
                    <li class="header__menu_options_box">
                        <span>خرید </span>
                    </li>
                </a>

                <a href="#" class="header__right_menu_options">
                    <li class="header__menu_options_box">
                        <span>فروش</span>
                    </li>
                </a>

                <a href="#" class="header__right_menu_options">
                    <li class="header__menu_options_box header__menu_options_box--no_border">
                        <span>رهن</span>
                    </li>
                </a>
            </ul>
        </div>
        
        <!-- Amelk Logo -->
        <div class="header__site_logo">
            <span>Amelk</span>
            <img src="{% static 'assets/img/amelk_logo.png' %}" alt="Amelk Logo" class="header__logo_img">
        </div>
        
        <!-- user account -->
        <div class="header__user">
            <input type="checkbox" id="user" class="header__user_input">

            <label for="user" class="header__user_opener"><i class="fa-solid fa-user"></i></label>

            <!-- Menu, There need top be a JS, So that when the menu appears there's a black filter over the site -->
            <ul class="header__user_menu">
                <!-- 1st -->
                <a href="#" class="header__user_menu_options">
                    <li class="header__user_optionBox"><span>ورود</span></li>
                </a>

                <!-- 2nd -->
                <a href="#" class="header__user_menu_options">
                    <li class="header__user_optionBox"><span>نشان ها </span></li>
                </a>

                <!-- 3rd -->
                <a href="#" class="header__user_menu_options">
                    <li class="header__user_optionBox header__user_optionBox--border_none"><span>بازدیدهای اخیر </span></li>
                </a>
            </ul>
        </div>

    </header>

    <!-- Requesting help -->
    <section class="help containerII">
        
        <!-- headline -->
        <div class="help__headline">
            <i class="fa-solid fa-chevron-right"></i>
            <span class="help__headline_text headline">درخواست مشاوره و اطلاعات بیشتر</span>
        </div>

        <div class="help__forms">
            <!-- Land Form -->
            <div class="help__form_land">
                <span>خرید یک ملک</span>
                <div class="help__form_land_holder">
                    <select name="" id="" class="help__form_land_select"></select>
                    <i class="help__form_land_icon fa-solid fa-angle-down"></i>
                </div>
            </div>

            <!-- Name Form -->
            <div class="help__form_name">
                <label for="">نام و نام خانوادگی</label>
                <input type="text" class="help__form_name_input">
            </div>

            <!-- Phone Number Form -->
            <div class="help__form_phone_number">
                <label for="">شماره تماس</label>
                <input type="tel" class="help__form_phone_numberInput">
            </div>
        </div>
    </section>

    <!-- The Desired Location -->
    <section class="location containerII">

        <!-- headline -->
        <span class="location__headline headline">موقعیت مکانی ملک مورد نظر شما</span>
    
        <!-- Forms -->
        <div class="location__forms">

            <!-- استان -->
            <div class="location__form_state">
                <label for="">استان</label>
                <input type="text" class="location__form_state_input">
            </div>

            <!-- شهر -->
            <div class="location__form_city">
                <label for="">شهر/محله</label>
                <input type="text" class="location__form_city_input">
            </div>

            <!-- قیمت با بودجه -->
            <div class="location__form_price">
                <label for="">قیمت با بودجه</label>
                <input type="text" class="location__form_price_input">
            </div>

            <!-- متراژ -->
            <div class="location__form_size">
                <label for="">متراژ</label>
                <input type="text" class="location__form_size_input">
            </div>

        </div>
    </section>

    <!-- This div is to JUST put these sections on different axises in desktop and mobile -->
    <div class="for_desktop">
        <!-- facilities -->
        <section class="facilities containerII">

            <!-- headline -->
            <span class="facilities__headline headline">امکانات</span>
        
            <!-- facility Examples -->
            <div class="facilities__examples">

                <!-- elevator -->
                <div class="facilities__boxesI facilities__boxes ">
                    <i class="facilities__boxes_icons fa-solid fa-building"></i>
                    <span>آسانسور</span>
                </div>

                <!-- Parking -->
                <div class="facilities__boxesII facilities__boxes ">
                    <i class="facilities__boxes_icons fa-solid fa-building"></i>
                    <span>پارکینگ</span>
                </div>

                <!-- Storage -->
                <div class="facilities__boxesIII facilities__boxes ">
                    <i class="facilities__boxes_icons fa-solid fa-house-chimney-window"></i>
                    <span>انباری \ بالکن</span>
                </div>

            </div>
        </section>

        <!-- Number of Rooms -->
        <section class="rooms containerII">
            
            <!-- Headline -->
            <span class="rooms__headline headline">تعداد اتاق خواب</span>
        
            <!-- Rooms -->
            <div class="rooms__numbers">

                <a href="#">
                    <div class="rooms__more">
                        <div class="rooms__more_icon_box">
                            <i class="rooms__more_icon fa-solid fa-angle-down"></i>
                        </div>
                        <span>بیشتر</span>
                    </div>
                </a>

                <a href="#">
                    <div class="rooms__numbers_boxes">
                        <span>4</span>
                    </div>
                </a>

                <a href="#">
                    <div class="rooms__numbers_boxes">
                        <span>3</span>
                    </div>
                </a>

                <a href="#">
                    <div class="rooms__numbers_boxes">
                        <span>2</span>
                    </div>
                </a>

                <a href="#">
                    <div class="rooms__numbers_boxes">
                        <span>1</span>
                    </div>
                </a>

            </div>
        </section>

    </div>
    
    <section class="form">
        <textarea name="" id="" placeholder="توضیحات درخواست" class="form__box"></textarea>
    </section>

    <!-- buttons -->
    <section class="buttons">
        
        <button class="button buttons__buttonI">توضیحات درخواست</button>
        
        <button class="button buttons__buttonII">ارسال</button>

    </section>

    <!-- You must make this Notice appear with JS -->
    <section class="notice">

        <!-- Texts -->
        <div class="notice__texts">
        <p class="notice__textI notice__text">با ثبت  درخواست  در این قسمت ، آملک 
            نیاز شما را مورد بررسی قرار داد  </p>

        <p class="notice__textII notice__text">جزئیات درخواست شما را در اختیار 
            متخصصان مربوطه قرار میدهد</p>

        <p class="notice__small_text">تا به سرانجام رسیدن نیاز شم آملک در کنار شما میماند</p>
        </div>

        <!-- Button -->
         <button class="notice__button">تایید</button>
    
    </section>

    <!-- All the Land -->
    <section class="lands">

        <!-- Land 1 -->
        <div class="lands__landI">

            <!-- Image of Land (Mobile)-->
            <div class="lands__land_img_div">
                <img src="{% static 'assets/img/land/small_landI.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Image of Land (Desktop)-->
            <div class="lands__land_img_div lands__land_img_div--hidden">
                <img src="{% static 'assets/img/land/landI.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Details About the Land -->
            <div class="lands__landI_details">

                <!-- The Price and Type of Land -->
                <div class="lands__landI_price_type">
                    <!-- Disappear on Desktop -->
                    <span class="lands__landI_type">آپارتمان</span>

                    <span class="lands__landI_price">$267000</span>
                </div>

                <!-- Address -->
                <div class="lands__landI_address_more">
                    <!-- address -->
                    <div class="lands__landI_address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="lands__landI_address_text">آدرس خیابان دانشگاه</span>
                    </div>

                    <!-- more (Appears on Desktop) -->
                    <a href="#">
                        <div class="lands__landI_more">
                            <span>مشاهده جزئیات</span>
                        </div>
                    </a>
                </div>

                <!-- Icons -->
                <div class="lands__landI_icons">
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-bed"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-fill-drip"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-file-lines"></i></div>
                </div>

            </div>

        </div>

        <!-- Land 2 -->
        <div class="lands__landI">

            <!-- Image of Land (Mobile)-->
            <div class="lands__land_img_div">
                <img src="{% static 'assets/img/land/small_landII.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Image of Land (Desktop)-->
            <div class="lands__land_img_div lands__land_img_div--hidden">
                <img src="{% static 'assets/img/land/landII.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Details About the Land -->
            <div class="lands__landI_details">

                <!-- The Price and Type of Land -->
                <div class="lands__landI_price_type">
                    <!-- Disappear on Desktop -->
                    <span class="lands__landI_type">آپارتمان</span>

                    <span class="lands__landI_price">$267000</span>
                </div>

                <!-- Address -->
                <div class="lands__landI_address_more">
                    <!-- address -->
                    <div class="lands__landI_address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="lands__landI_address_text">آدرس خیابان دانشگاه</span>
                    </div>

                    <!-- more (Appears on Desktop) -->
                    <a href="#">
                        <div class="lands__landI_more">
                            <span>مشاهده جزئیات</span>
                        </div>
                    </a>
                </div>

                <!-- Icons -->
                <div class="lands__landI_icons">
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-bed"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-fill-drip"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-file-lines"></i></div>
                </div>

            </div>

        </div>

        <!-- Land 3 -->
        <div class="lands__landI">

            <!-- Image of Land (Mobile)-->
            <div class="lands__land_img_div">
                <img src="{% static 'assets/img/land/small_landIII.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Image of Land (Desktop)-->
            <div class="lands__land_img_div lands__land_img_div--hidden">
                <img src="{% static 'assets/img/land/landIII.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Details About the Land -->
            <div class="lands__landI_details">

                <!-- The Price and Type of Land -->
                <div class="lands__landI_price_type">
                    <!-- Disappear on Desktop -->
                    <span class="lands__landI_type">آپارتمان</span>

                    <span class="lands__landI_price">$267000</span>
                </div>

                <!-- Address -->
                <div class="lands__landI_address_more">
                    <!-- address -->
                    <div class="lands__landI_address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="lands__landI_address_text">آدرس خیابان دانشگاه</span>
                    </div>

                    <!-- more (Appears on Desktop) -->
                    <a href="#">
                        <div class="lands__landI_more">
                            <span>مشاهده جزئیات</span>
                        </div>
                    </a>
                </div>

                <!-- Icons -->
                <div class="lands__landI_icons">
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-bed"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-fill-drip"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-file-lines"></i></div>
                </div>

            </div>

        </div>

        <!-- Land 4 -->
        <div class="lands__landI">

            <!-- Image of Land (Mobile)-->
            <div class="lands__land_img_div">
                <img src="{% static 'assets/img/land/small_landIV.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Image of Land (Desktop)-->
            <div class="lands__land_img_div lands__land_img_div--hidden">
                <img src="{% static 'assets/img/land/landIV.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Details About the Land -->
            <div class="lands__landI_details">

                <!-- The Price and Type of Land -->
                <div class="lands__landI_price_type">
                    <!-- Disappear on Desktop -->
                    <span class="lands__landI_type">آپارتمان</span>

                    <span class="lands__landI_price">$267000</span>
                </div>

                <!-- Address -->
                <div class="lands__landI_address_more">
                    <!-- address -->
                    <div class="lands__landI_address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="lands__landI_address_text">آدرس خیابان دانشگاه</span>
                    </div>

                    <!-- more (Appears on Desktop) -->
                    <a href="#">
                        <div class="lands__landI_more">
                            <span>مشاهده جزئیات</span>
                        </div>
                    </a>
                </div>

                <!-- Icons -->
                <div class="lands__landI_icons">
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-bed"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-fill-drip"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-file-lines"></i></div>
                </div>

            </div>

        </div>

        <!-- Land 5 -->
        <div class="lands__landI">

            <!-- Image of Land (Mobile)-->
            <div class="lands__land_img_div">
                <img src="{% static 'assets/img/land/small_landV.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Image of Land (Desktop)-->
            <div class="lands__land_img_div lands__land_img_div--hidden">
                <img src="{% static 'assets/img/land/landV.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Details About the Land -->
            <div class="lands__landI_details">

                <!-- The Price and Type of Land -->
                <div class="lands__landI_price_type">
                    <!-- Disappear on Desktop -->
                    <span class="lands__landI_type">آپارتمان</span>

                    <span class="lands__landI_price">$267000</span>
                </div>

                <!-- Address -->
                <div class="lands__landI_address_more">
                    <!-- address -->
                    <div class="lands__landI_address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="lands__landI_address_text">آدرس خیابان دانشگاه</span>
                    </div>

                    <!-- more (Appears on Desktop) -->
                    <a href="#">
                        <div class="lands__landI_more">
                            <span>مشاهده جزئیات</span>
                        </div>
                    </a>
                </div>

                <!-- Icons -->
                <div class="lands__landI_icons">
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-bed"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-fill-drip"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-file-lines"></i></div>
                </div>

            </div>

        </div>

        <!-- Land 6 (Appears on Desktop) -->
        <div class="lands__landI lands__landI--hidden">

            <!-- Image of Land (Mobile)-->
            <div class="lands__land_img_div">
                <img src="{% static 'assets/img/land/landVI.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Image of Land (Desktop)-->
            <div class="lands__land_img_div lands__land_img_div--hidden">
                <img src="{% static 'assets/img/land/landVI.png' %}" alt="Land" class="lands__land_img">
            </div>

            <!-- Details About the Land -->
            <div class="lands__landI_details">

                <!-- The Price and Type of Land -->
                <div class="lands__landI_price_type">
                    <!-- Disappear on Desktop -->
                    <span class="lands__landI_type">آپارتمان</span>

                    <span class="lands__landI_price">$267000</span>
                </div>

                <!-- Address -->
                <div class="lands__landI_address_more">
                    <!-- address -->
                    <div class="lands__landI_address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="lands__landI_address_text">آدرس خیابان دانشگاه</span>
                    </div>

                    <!-- more (Appears on Desktop) -->
                    <a href="#">
                        <div class="lands__landI_more">
                            <span>مشاهده جزئیات</span>
                        </div>
                    </a>
                </div>

                <!-- Icons -->
                <div class="lands__landI_icons">
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-bed"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-fill-drip"></i></div>
                    
                    <!-- Splitting Line -->
                    <div class="lands__landI_icons_splitting"></div>
                    
                    <!-- Icon -->
                    <div class="lands__landI_icon_box"><i class="fa-solid fa-file-lines"></i></div>
                </div>

            </div>

        </div>

    </section>

    <div class="distance"></div>

    <!-- Menu -->
    <ul class="footer__menu">
        <!-- 1st -->
        <a href="#">
            <li class="options">
                <img src="{% static 'assets/img/footer_menu/moeny_bagI.png' %}" alt="" class="options_img">
            </li>
        </a>

        <!-- 2nd -->
        <a href="#">
            <li class="options">
                <img src="{% static 'assets/img/footer_menu/cardII.png' %}" alt="" class="options_img">
            </li>
        </a>

        <!-- 3rd -->
        <a href="#">
            <li class="options option--big">
                <img src="{% static 'assets/img/footer_menu/icon.png' %}" alt="" class="options_img options_img_dot">
            </li>
        </a>

        <!-- 4th -->
        <a href="#">
            <li class="options">
                <img src="{% static 'assets/img/footer_menu/buldingIV.png' %}" alt="" class="options_img">
            </li>
        </a>

        <!-- 5th -->
        <a href="#">
            <li class="options">
                <img src="{% static 'assets/img/footer_menu/money_lendV.png' %}" alt="" class="options_img">
            </li>
        </a>
    </ul>

    <section class="under_footer">

        <!-- Top -->
        <div class="under_footer__top">
            <!-- Right -->
            <div class="under_footer__top_right">
                
                <a href="#" class="under_footer__top_right_links"><span>Rent</span></a>
                
                <a href="#" class="under_footer__top_right_links"><span>Sell</span></a>
                
                <a href="#" class="under_footer__top_right_links"><span>Services</span></a>
                
                <a href="#" class="under_footer__top_right_links"><span>Home</span></a>

            </div>

            <!-- Left -->
            <div class="under_footer__top_left">
                <span>myProperty</span>
                <i class="under_footer__top_leftIcon fa-solid fa-magnifying-glass-location"></i>
            </div>
        </div>

        <!-- Bottom -->
        <div class="under_footer__bottom">
            <span>Copyright 2023 - Kodkustik All Right Reserved.</span>
        </div>

    </section>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"></script>
</body>
</html>