:root {
    --header_blue: #2455A9;
    --primary_blue: #2855A3;
    --box_blue: #295AAE;
    --headline_blue: #27478A;
    --light_blue: #ECF4FD;
    --overused_blue: #274A90;

    --icon_black: #2C2C2E;
    --primary_grey: #757575;
    --secondary_grey: #E1E3E6;
    --primary_grey: #5F5F5F;
    --last_grey: #A2A7AF;
    
}