@media only screen and (min-width: 1024px) {

    .more_land_page {    
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .more_land_page__icon {
        font-size: 40px;
    }

    .more_land_page__headline {
        font-size: 40px;
    }

    .lands {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: normal;
        gap: 20px;
    
        margin-top: 60px;

        padding: 70px 92px 180px;

        background-color: #F1F8FF;
    }
    
    .lands__landI {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    
        padding: 0px 0px;
        
        height: 557.64px;
        width: 404.85px;

        box-shadow: 0px 8.92px 17.84px 0px #00000040;
    }
    
    .lands__landI--hidden {
        display: flex;
    }
    
    .lands__land_img_div {
        display: none;
    }
    
    .lands__land_img_div--hidden {
        display: flex;

        width: 100%;
    }
    
    .lands__landI_details {
        display: flex;
        flex-direction: column;
        gap: 30px;
    
        width: 100%;
        height: 100%;
    }
    
    .lands__landI_price_type {
        display: flex;

        padding: 0px 40px;
    }

    .lands__landI_type {
        font-size: 20px;
    }
    
    .lands__landI_price {
        font-size: 20px;
        font-weight: 700;
    }
    
    .lands__landI_address_more {
        display: flex;
        justify-content: space-between;
    
        font-size: 12px;
        font-weight: 700;

        padding: 0px 15px;

        border-bottom: 1.12px solid #B3B3B3;

        padding-bottom: 30px;
    }
    
    .lands__landI_address {
        display: flex;
        align-items: center;
        gap: 5px;

        font-size: 15px;
    }
    
    .lands__landI_address_text {
        font-size: 17px;
        font-weight: 400;
    }
    
    .lands__landI_more {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 8.92px;
        

        height: 57.99px;
        width: 168.41px;

        font-size: 23px;
        font-weight: 700;
    }
    
    .lands__landI_icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    
        width: 100%;

        padding: 0px 60px;
    }
    
    .lands__landI_icon_box {
        font-size: 30px;
    }
    
    .lands__landI_icons_splitting {
        height: 50px;
    }

    .distance {
        margin-top: 0px;
    }

}