body {
    background-image: url(../img/background/sign_up.png);
    background-repeat: no-repeat;
    background-size: 100% auto;

    position: relative;
}

body::after {

    content: "";
    position: fixed; /* Ensures it covers the viewport */

    top: 0;
    left: 0; /* Ensures it starts from the left edge */

    z-index: -4;

    width: 100%; /* Covers the full width */
    height: 100vh; /* Covers the full height of the viewport */

    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* body::after {
    content: "";
    position: absolute;

    height: 200px;
    width: 100%;


    left: 0px;
    top: 87%;

    z-index: -2;
} */

.sign_up {
    display: flex;
    justify-content: center;

    color: #fff;
    font-size: 36px;
    font-weight: 700;
    font-family: "Lato";

    padding-top: 70px;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 45px;
}

.forms__form_holder {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
}

.forms__form_text {
    font-size: 16px;
    color: #fff;
}

.forms__form {
    width: 100%;
    height: 55px;

    background-color: #D8D8DD;

    border: 1px solid #fff;
    border-radius: 6px;

    padding: 0px 10px;
}

.forms__form_holder_again {
    position: relative;

    width: 100%;
}

.forms__form--more_padding {
    padding: 0px 40px 0px 10px;
}

.forms__form_icon {
    position: absolute;

    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    color: #A09F99;
}

.forms__send {
    width: 100%;
    height: 55px;

    color: #fff;

    background-color: #617C99;

    font-size: 18px;

    box-shadow: 0px 2.77px 2.21px 0px #000;

    margin-top: 25px;

    border-radius: 6px;

    cursor: pointer;
}

.forms__send:focus {
    border: 4px solid #325D8C;
}

.sending_code {
    display: none;/* Turn this to flex */
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;

    padding: 30px 20px;

    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 329px;
    width: 307px;

    border-radius: 16px;

    background-color: #fff;
}

.sending_code__code_announcment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.sending_code__code_announcment_text {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.sending_code__code {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.sending_code__code_boxes {
    height: 43.98px;
    width: 48.67px;

    border: 1px solid var(--secondary_grey);
    border-radius: 16px;

    background-color: #fff;

    padding-right: 20px;
}

.sending_code__confirm_button {
    height: 55px;
    width: 100%;

    border-radius: 16px;

    background-color: #617C99;

    color: #fff;
    font-size: 16px;
}

.sign_check {
    margin-top: 50px;

    padding-top: 25px;

    display: flex;
    justify-content: center;
    gap: 10px;

    height: 126.3px;

}

.sign_check__textI {
    color: #fff;
}

.sign_check__textII {
    color: #536A83;
}